.container {
    padding: 2rem;
    text-align: center;
  }
  .header {
    color: #FF869E;
    font-weight: 600;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .header div {
    color: #FF869E;
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .body > * {
    font-weight: 600;
    color: #f95c84;
    flex: 1;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: 25px;
    height: 30px;
    background-color: #ff859d;
    color: white;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: var(--rounded-btn, 0.5rem);
  }
 