@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 2rem);
  gap: 0.5rem;
  min-height: 17vh;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(0, 0, 0);
}
/*
.text-primary {
    --tw-text-opacity: 1;
    color: white;
}

.bg-photo {
    --tw-bg-opacity: 1;
    background-color: white;
}

.text-title {
    --tw-bg-opacity: 1;
    color: rgb(243, 243, 243);
}*/

@media (min-width: 1536px) {
.container {
  max-width: 1934px;
}
}

.aspect-video {
    aspect-ratio: 10/9;
  }

.text-white {
    --tw-text-opacity: 1;
    color: #FF869E;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: #FF869E;
}

button.btn.btn-info {
    color: white;
}

button.btn.btn-info:hover {
    color: white;
    border-color: none ;
}

a.px-4.py-5.ml-4.font-semibold.transition.rounded-md.bg-info.text-primary.hover\:bg-primary.hover\:text-info.focus\:outline-none.focus\:ring-4.focus\:ring-primaryfocus\:ring-opacity-50:hover {
    background-color: #ffb4c3;
    color: white;
}

button.px-4.py-5.ml-4.font-extrabold.transition.rounded-md.bg-info.hover\:bg-primary.focus\:outline-none.focus\:ring-4.focus\:ring-primary.focus\:ring-opacity-50.text-primary.hover\:text-info:hover {
    background-color: #ffb4c3;
    color: white;
}

button.p-2.text-2xl.font-semibold.tracking-wide.text-success:hover {
  color: #f95c84;
}

.image-page {
    position: absolute;
    top: 12vh;
    left: 0;
    bottom: 0;
    right: 51vw;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 40vw;
    height: 40vw;
    /* min-width: 100%; */
    /* max-width: 100%; */
    /* min-height: 100%; */
    /* max-height: 100%; */
    object-fit: cover;
}

.title-page {
    padding-right: 20vw;
}

/*
input.w-full.shadow-sm.rounded-md.py-2.pl-4.truncate.border.focus\:outline-none.focus\:ring-4.focus\:ring-opacity-20.transition.disabled\:opacity-50.disabled\:cursor-not-allowed.border-gray-300.focus\:border-gray-400.focus\:ring-gray-400 {
    color: black;
}

textarea.w-full.shadow-sm.rounded-md.py-2.pl-4.truncate.border.focus\:outline-none.focus\:ring-4.focus\:ring-opacity-20.transition.disabled\:opacity-50.disabled\:cursor-not-allowed.border-gray-300.focus\:border-gray-400.focus\:ring-gray-400 {
    color: black;
}*/

/*NAVBAR BUTTONS*/
* {
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .menu__icon {
    width: 40px;
    display: flex;
    flex-direction: column;
  }
  .menu__icon div {
    border-radius: 2px;
    height: 6px;
    background-color: #f8859c;
  }
  .menu__icon div:nth-child(2) {
    margin: 6px 0;
  }
  
  .menu__icon.active div:nth-child(1) {
    animation: menuAnim1 0.3s ease-in-out forwards;
  }
  .menu__icon.active div:nth-child(2) {
    animation: menuAnim2 0.3s ease-in-out forwards;
  }
  .menu__icon.active div:nth-child(3) {
    animation: menuAnim3 0.3s ease-in-out forwards;
  }
  .menu__icon.inactive div:nth-child(1) {
    animation: revmenuAnim1 0.3s ease-in-out;
  }
  .menu__icon.inactive div:nth-child(2) {
    animation: revmenuAnim2 0.3s ease-in-out;
  }
  .menu__icon.inactive div:nth-child(3) {
    animation: revmenuAnim3 0.3s ease-in-out;
  }
  
  @keyframes menuAnim1 {
    0% {
      transform: translateY(0);
    }
  
    70% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(12px) rotateZ(45deg);
    }
  }
  @keyframes menuAnim2 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  @keyframes menuAnim3 {
    0% {
      transform: translateY(0);
    }
  
    70% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(-12px) rotateZ(135deg);
    }
  }
  
  @keyframes revmenuAnim1 {
    0% {
      transform: translateY(12px) rotateZ(45deg);
    }
  
    70% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0px) rotateZ(0deg);
    }
  }
  @keyframes revmenuAnim2 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes revmenuAnim3 {
    0% {
      transform: translateY(-12px) rotateZ(135deg);
    }
  
    70% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0) rotateZ(0);
    }
  }
  
  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 4rem);
    top: 4rem;
    left: 0;
    padding: 24px 16px;
    row-gap: 16px;
    background-color: #000000ba;
    transition: all 0.3s;
  }

  @media screen and (min-width: 768px) {
    .menu {
        display:block;
    }

    .nav__item:hover {
        color: #f95c84;
      }
    .nav__item.active::after {
      width: 100%;
    }
  }

  /* Loading */
  .body_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .none {
    display: none;
  }
  .lds_ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds_ellipsis div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--orange);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds_ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds_ellipsis1 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds_ellipsis2 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds_ellipsis2 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds_ellipsis3 0.6s infinite;
  }
  @keyframes lds_ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds_ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds_ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }