@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(0, 0, 0);
}
/*
.text-primary {
    --tw-text-opacity: 1;
    color: white;
}

.bg-photo {
    --tw-bg-opacity: 1;
    background-color: white;
}

.text-title {
    --tw-bg-opacity: 1;
    color: rgb(243, 243, 243);
}*/

@media (min-width: 1536px) {
.container {
  max-width: 1934px;
}
}

.aspect-video {
    aspect-ratio: 10/9;
  }

.text-white {
    --tw-text-opacity: 1;
    color: #FF869E;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: #FF869E;
}

button.btn.btn-info {
    color: white;
}

a.px-4.py-5.ml-4.font-semibold.transition.rounded-md.bg-info.text-primary.hover\:bg-primary.hover\:text-info.focus\:outline-none.focus\:ring-4.focus\:ring-primaryfocus\:ring-opacity-50:hover {
    background-color: #ffb4c3;
    color: white;
}

button.px-4.py-5.ml-4.font-extrabold.transition.rounded-md.bg-info.hover\:bg-primary.focus\:outline-none.focus\:ring-4.focus\:ring-primary.focus\:ring-opacity-50.text-primary.hover\:text-info:hover {
    background-color: #ffb4c3;
    color: white;
}
/*
input.w-full.shadow-sm.rounded-md.py-2.pl-4.truncate.border.focus\:outline-none.focus\:ring-4.focus\:ring-opacity-20.transition.disabled\:opacity-50.disabled\:cursor-not-allowed.border-gray-300.focus\:border-gray-400.focus\:ring-gray-400 {
    color: black;
}

textarea.w-full.shadow-sm.rounded-md.py-2.pl-4.truncate.border.focus\:outline-none.focus\:ring-4.focus\:ring-opacity-20.transition.disabled\:opacity-50.disabled\:cursor-not-allowed.border-gray-300.focus\:border-gray-400.focus\:ring-gray-400 {
    color: black;
}*/